<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="CSS/styles.css">
  <!-- To use CSS in EJS (server side, you cant directly just upload and use. we need to SERVE THE FILES, USE IT using EJS) -->
</head>

<body>
